{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "plugins": ["radar", "unicorn", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:radar/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error", {"args": "after-used", "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "ignoreRestSiblings": true}],
    "unicorn/filename-case": ["error", {"case": "camelCase"}]
  }
}
